<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-packages-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Packages
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-packages-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Package</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blogs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-link">
                <a href="" class="dropdown-item">By Date</a>
                <a href="" class="dropdown-item">By Topic</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">All Blogs</a>
            </div>
        </li>
    </ul>
</div>